Processed Data/
Output/

Models/current math behind the model.md 
Models/log.md 


Models/Stan/*.hpp
Models/Stan/*.exe

Models/Inference Data/

Models/json/

Models/R/inference.R
Models/R/poisson.R
Models/R/poisson.rmd