Processed Data/
Output/

Models/current math behind the model.md 
Models/log.md 


Models/Stan/*.hpp
Models/Stan/*.exe

Models/Inference Data/

Models/json/

Models/R/inference.R
Models/R/poisson.R
Models/R/poisson.rmd
Models/R/poissonStan.R
Models/R/poisson_vs_ZI_files/
Models/R/test_files/

test_files/
N-mixture test.stan