Model/Data/
Model/Outputs/sampler csvs/
Model/current math behind the model.md 
Model/abundance_cond_uccpuancy_TEST.exe
Model/abundance_cond_uccpuancy_TEST.hpp

Model/*.hpp
Model/*.exe

Model/Inference Data/